@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h3>@Html.ActionLink("Pages","Index","PageAdmin")</h3>    
<h3>@Html.ActionLink("Information","Index","Information")</h3>
<h3>@Html.ActionLink("Questions","Index","PageAdmin")</h3>

